.vision-tab .nav-download {
    border: 0;
  }
  
  .vision-tab .nav-link {
    border: 1px solid #b9b9b9;
    padding: 15px;
    transition: 0.3s;
    color: #111111;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .vision-tab .nav-link i {
    padding-right: 15px;
    font-size: 48px;
  }
  
  .vision-tab .nav-link h4 {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
  }
  
  .vision-tab .nav-link:hover {
    color: #e03a3c;
  }
  
  .vision-tab .nav-link.active {
    background: #e03a3c;
    color: #fff;
    border-color: #e03a3c;
  }
  
  @media (max-width: 768px) {
    .vision-tab .nav-link i {
      padding: 0;
      line-height: 1;
      font-size: 36px;
    }
  }
  
  @media (max-width: 575px) {
    .vision-tab .nav-link {
      padding: 15px;
    }
    .vision-tab .nav-link i {
      font-size: 24px;
    }
  }
  
  .vision-tab .tab-content {
    margin-top: 30px;
  }
  
  .vision-tab .tab-pane h3 {
    font-weight: 600;
    font-size: 26px;
  }
  
  .vision-tab .tab-pane ul {
    list-style: none;
    padding: 0;
  }
  
  .vision-tab .tab-pane ul li {
    padding-bottom: 10px;
  }
  
  .vision-tab .tab-pane ul i {
    font-size: 20px;
    padding-right: 4px;
    color: #e03a3c;
  }
  
  .vision-tab .tab-pane p:last-child {
    margin-bottom: 30px;
  }

  /*--------------------------------------------------------------
# download
--------------------------------------------------------------*/

.download {
    background: linear-gradient(to right, #ffdde1, #ee9ca7);
}

.download .nav-download {
    border: 0;
  }
  
  .download .nav-link {
    border: 1px solid #b9b9b9;
    padding: 15px;
    transition: 0.3s;
    color: #111111;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .download .nav-link i {
    padding-right: 15px;
    font-size: 48px;
  }
  
  .download .nav-link h4 {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
  }
  
  .download .nav-link:hover {
    color: #e03a3c;
  }
  
  .download .nav-link.active {
    background: #e03a3c;
    color: #fff;
    border-color: #e03a3c;
  }
  
  @media (max-width: 768px) {
    .download .nav-link i {
      padding: 0;
      line-height: 1;
      font-size: 36px;
    }
  }
  
  @media (max-width: 575px) {
    .download .nav-link {
      padding: 15px;
    }
    .download .nav-link i {
      font-size: 24px;
    }
  }
  
  .download .tab-content {
    margin-top: 30px;
  }
  
  .download .tab-pane h3 {
    font-weight: 600;
    font-size: 26px;
  }
  
  .download .tab-pane ul {
    list-style: none;
    padding: 0;
  }
  
  .download .tab-pane ul li {
    padding-bottom: 10px;
  }
  
  .download .tab-pane ul i {
    font-size: 20px;
    padding-right: 4px;
    color: #e03a3c;
  }
  
  .download .tab-pane p:last-child {
    margin-bottom: 30px;
  }